{% extends "layout.html" %}
{% block Homepage %}
<h1>Details Page</h1>
<div>
    
        <p>{{post.name.username}}</p>
        <p>{{post.date_of_post}}</p>
        <p>{{post.title}}</p>
        <img src="{{ post.image.url }}" height="400" width="600">
        <p>{{post.description}}</p>
        <p>{{post.post}}</p>
       
</div>
<div>
        <br>
        <br>
        <div>
                <form action = "{% url 'like' pk=post.pk %}" method = "post">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Like</button>
                        {% for like in likes %}
                        <p>{{ like.likes }}</p>
                        {% endfor %}
                </form>
        </div>
        <hr>
        <br>
        {% for comment in comments %}
        <div>
                <h6>{{ comment.user.username }} {{ comment.date_of_comment }}</h6>
                <p>{{ comment.comment }}</p>
        </div>

        {% endfor %}
</div>
<div>
        <div>
                <form action = "{% url 'comment' pk=post.pk %}" method = "post">
                        {% csrf_token %}
                        <textarea name="comment">
                        </textarea>
                        <label>message</label>
        </div>
        {% if user.is_authenticated %}
        <button class="btn btn-success" type="submit">comment</button>
        {% else %}
        <a href="{% url 'register' %}">register</a>
        <button class="btn btn-success" type="submit" disabled>comment</button>
        {% endif %}
</div>
{% endblock %}