{% extends "layout.html" %}
{% block Content %}
<h1>Welcome to my content</h1>
<a href="{% url 'createpost' %}"><h5>Create Blog</h5></a>
<a href="{% url 'register' %}"><h5>Register</h5></a>
<a href="{% url 'login' %}"><h5>Login</h5></a>
<a href="{% url 'logout' %}"><h5>Logout</h5></a>
<div class="row">
    <div class="col-4">
        {% for post in posts %}
        <a href="{% url 'details' post.pk %}">
        <p>{{post.title}}</p>
        </a>
        <ul>
        <li>
            <p>{{post.name.username}}</p>
            <p>{{post.date_of_post}}</p>
        </li>
        <li>
            <form action="{% url 'deletepost' pk=post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </li>
        </ul>
        <p>{{post.description}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
